<footer class="footer-container">
  <div class="content row">
    <div class="navigator">
      <div class="home-link">
        <a class="" [routerLink]="['resume']">{{ name }}</a>
      </div>

      <nav>
        <ul class="links">
          <li *ngFor="let contact of contacts">
            <div class="row">
              <a class="text-decoration-none" href="{{ contact.url }}" target="_blank"><p>{{ contact.name }}</p></a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>