.container {
    padding-right: 0.325rem;
    width: 100%;
}

.large-image {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.title {
    font-size: 20px;
    line-height: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 0.375rem;
}

.subtitle {
    font-size: 16px;
    line-height: 1.25rem;
    color: var(--font-primary-fade);
    width: 100%;
}

.subtitle .date {
    width: 100%;
    font-size: 12px;
    line-height: 1.625rem;
    color: currentColor;
}