.navigator {
    padding: 24px 16px 0;
    height: var(--header-h);
    border-bottom: 1px solid var(--division-line);
    justify-content: center;
}

.navigator .links {
    list-style: none;
    line-height: 2rem;
}

.navigator .links li:not(:last-child) {
    margin-right: 1.5rem;
}

.navigator .links a {
    padding: 1rem 0.75rem;
}

.navigator .links li .active {
    border-bottom: 2px solid var(--primary);
}

@media screen and (max-width: 768px) {
    .navigator .links a {
        font-size: 15px;
    }
}
