/* You can add global styles to this file, and also import other style files */
* {
    background-color: #121212;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    color: #CECECE;
}

.border {
    border: 1px solid #CECECE;
}

.row {
    display: flex;
    flex-direction: row;
}

.space-around {
    justify-content: space-around;
}

.my-4 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}