/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

:root {
    --font-primary: #CECECE;
    --font-primary-fade: #8A8A8A;
    --primary: #CECECE;
    --division-line: #1B1B1B;
    --bg: #121212;
    --header-h: 75px;
    --footer-h: 200px;
    --layout-h: calc(100vh - var(--header-h) - var(--footer-h));
    --max-w: 900px;
}

* {
    color: var(--font-primary);
    font-family: 'Inconsolata', monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
}

.layout-body {
    min-height: var(--layout-h);
}

.main-container {
    max-width: var(--max-w);
    margin: 0 auto;
}

.half-width {
    width: 50%;
}

.border {
    border: 1px solid var(--primary);
}

.row {
    display: flex;
    flex-direction: row;
}

.justify-start {
    justify-content: flex-start;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.my-4 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.text-decoration-none {
    text-decoration: none;
}