<article class="main-container">
  <header class="post-header">
    <img src="{{ image }}" alt="{{ title }}">
    <span>Autor: {{ autor }} | Atualizado em: {{ updatedAt }}</span>
    <h1>{{ title }}</h1>
  </header>

  <app-back-button></app-back-button>

  <div class="content">
    <div *ngFor="let element of content" [ngSwitch]="element.type">
      <ng-template ngSwitchCase="p">
        <p>{{ element.value }}</p>
      </ng-template>

      <ng-template ngSwitchCase="span">
        <span>{{ element.value }}</span>
      </ng-template>

      <ng-template ngSwitchCase="h1">
        <h1>{{ element.value }}</h1>
      </ng-template>

      <ng-template ngSwitchCase="h2">
        <h2>{{ element.value }}</h2>
      </ng-template>

      <ng-template ngSwitchCase="images">
        <div class="images-container">
          <div class="images">
            <img *ngFor="let image of element.props" src="{{ image['src'] }}" alt="{{ image['alt'] }}">
          </div>
          <p class="images-source">Fonte: {{ element.source }}</p>
        </div>
      </ng-template>

      <ng-template ngSwitchCase="link">
        <a href="{{element.href}}">{{ element.value }}</a>
      </ng-template>

      <ng-template ngSwitchCase="rodafoot">
        <p class="footer-note">{{ element.value }}</p>
      </ng-template>
    </div>
  </div>

  <app-back-button></app-back-button>
</article>